nserver 1.1.1.1
nserver 8.8.8.8

auth strong
users ${SOCKS_USER}:CL:${SOCKS_PASS}
allow ${SOCKS_USER}

# chain to local wireproxy socks5
parent 1000 socks5 127.0.0.1 ${WIREPROXY_PORT}

socks -p${SOCKS_PORT} -a
